<div class="jumbotron">
  hello
</div>
<app-header></app-header>
<h1>{{title}}</h1> 


<!-- <h1>This is our new html</h1> -->


<app-home></app-home>

<div class="section">
  <p>
    Hello all welcome to my test file to check on AngularJS
  </p>
</div>


<app-footer></app-footer>

<!-- <div class="container p-5">
  property binding
  <input type="text" [value]=description> <br> <br>
  interpolation binding
  <input type="text" value={{name}}>
</div> -->
<p id="name">{{name}} </p>

<input type="text" name="" id="" [value]=description>

